/* _style.scss */

/*

TABLE OF CONTENTS
---------------------------------------
=GLOBAL
	-Sass Control
	-Elements
	-Clearfix
=GENERAL LAYOUT
=CONTENT
=HEADER
=MENUS
	-Main
	-Footer
=WIDGET AREAS --> specific widget styling is in library/widgets/widgets.css
	-Global
	-Footer
=FOOTER
=RESPONSIVE DESIGN

/* --------------------------------------
	=GLOBAL 
---------------------------------------*/

/*	-Sass Control
----------------------*/
/* Colors */
$primary: #000000;
$accent-1: #009b77;
$shadow: #CCCCCC;
$success: #009b77;
$error: #CC0000;

@mixin gradient( $bottom-color: $primary, $top-color: lighten($primary, 25%) ) {
	background-color: $top-color;
	background-image: -webkit-gradient(linear, left top, left bottom, from($top-color), to($bottom-color) );
	background-image: -webkit-linear-gradient(top, $top-color, $bottom-color);
	background-image: -moz-linear-gradient(top, $top-color, $bottom-color);
	background-image: -ms-linear-gradient(top, $top-color, $bottom-color);
	background-image: -o-linear-gradient(top, $top-color, $bottom-color);
	background-image: linear-gradient(top, $top-color, $bottom-color);
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr="+$top-color+", endColorstr="+$bottom-color+", GradientType=0)";
}

@mixin shadow( $x-val: 3px, $y-val: 3px, $blur: 5px, $color: $shadow ) {
	-moz-box-shadow: $x-val $y-val $blur $color; /* Firefox */  
	-webkit-box-shadow: $x-val $y-val $blur $color; /* Safari, Chrome */  
	box-shadow: $x-val $y-val $blur $color; /* CSS3 */
}

@mixin opacity( $opacity-val: 50 ) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + $opacity-val + ")"; /* IE 8 */
  -moz-opacity: $opacity-val / 100; /* firefox */
  -khtml-opacity: $opacity-val / 100; /* safari 1.x */
  opacity: $opacity-val / 100; /* modern browsers */
}

@mixin corners( $radius: 15px ) {
  -moz-border-radius: $radius; /* Firefox */  
  -webkit-border-radius: $radius; /* Safari, Chrome */  
  border-radius: $radius; /* CSS3 */ 
}

@mixin button( $color: lighten($primary, 20%) ) {
  @include gradient( $color, lighten($color, 20%) );
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 16px;
  &:hover {
    cursor: pointer;
    @include gradient( $color, darken($color, 20%) );
  }
}

/*	-Elements
------------------*/
* {
	padding: 0;
	margin: 0;
	line-height: 1em;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	text-align: left;
	margin: 0;
	padding: 0;
	color: lighten($primary, 30%);
	background-image: url(images/bkg-1.png);
}

h1, h2, h3, h4 {
	margin: 10px 0;
}

h1 {
	font-size: 20px;
}

h2 {
	font-size: 18px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

p {
	font-size: 14px;
	line-height: 18px;
	margin: 10px 0;
}

a {
	text-decoration: none;
	color: $accent-1;
	&:hover {
		text-decoration: underline;
	}
}

ul, ol {
	margin: 0 40px;
	padding: 0;
}

li {
	font-size: 14px;
	line-height: 18px;
}

img {
	border: 0;
}

input, textarea {
  color: lighten($primary, 75%) !important;
  font-style: normal !important;
  &:focus {
    color: lighten($primary, 30%) !important;
  }
}

/*	-Clearfix 
------------------*/
.clearfix {
	display: inline-block;
	&:after {
		content: ".";
		display: block;
		clear: both;
		visibility: hidden;
		line-height: 0;
		height: 0;
	}
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
} /* <-- Clearfix */


/* --------------------------------------
	=GENERAL LAYOUT 
---------------------------------------*/
#wrapper {
	width: 100%;
	min-height: 100%;
}

#container {
	background-color: transparent;
	width: 80%;
	padding: 0;
	margin: 100px auto;
}

#full-width-container {
	width: 100%;
}

#left-column {
	width: 65%;
	padding: 0 5%;
	float: left;
	margin: 30px 0 100px 0;
}

#right-sidebar {
	width: 25%;
	float: right;
	clear: none;
	margin: 30px 0 100px 0;
}


/* --------------------------------------
	=CONTENT
-------------------------------------- */
.post {
	clear: both;
	margin-bottom: 40px;
}

.post-title {
	font-size: 28px;
	padding: 5px 0 5px 0;
}

.blog-home-thumbnail {
	float: left;
	margin: 0 15px 10px 0;
	border: 8px solid #fff;
	@include shadow(0px, 0px, 10px);
}

.alignright {
	float: right;
}

.alignleft, .alignnone {
	float: left;
	margin: 0 20px 20px 0;
}

.aligncenter {
	text-align: center;
}

.post-category {
	clear: left;
}

/* --------------------------------------
	=HEADER
---------------------------------------*/
#header {
	width: 100%;
	color: #555;
	margin: 0;
	padding: 0;
	a:hover {
		text-decoration: none;
	}
}

#social-icons-container {
	float: left;
	width: 90%;
	padding: 0 5%;
	height: 44px;
	z-index: 150;	
	background: lighten($primary, 20%);
	img {
		width: 24px;
		height: 24px;
		padding: 10px;
		background-color: transparent;
		float: right;
	}
	a:hover > img {
		background-color: $accent-1;
	}
}

#logo {
  position: absolute;
  left: 2%;
  background: lighten($primary, 80%);
  padding: 10px;
  z-index: 9999999999;
  @include shadow(1px, 1px, 5px, lighten($primary, 20%));
}

#feature-img-container {
	width: 100%;
	text-align: center;
	margin: -8px 0 0 0;
	.feature-img {
	  width: 100%;
	}	
}


/* --------------------------------------
	=MENUS 
---------------------------------------*/

/*	-Main  
------------------*/
#main-menu-small-container {
	margin: 0 auto 20px auto;
	display: none;
	text-align: center;
}

#main-menu {
	background-color: lighten($primary, 30%);
	display: block;
	position: relative;
	padding: 0;
	float: left;
	width: 100%;
	@include shadow( 1px, 1px, 5px, lighten($primary, 20%) );
	z-index: 100;
  li a:hover, ul ul li a:hover {
		background: $accent-1; 
  }
}
 
.menu-main-menu-container {
  width: 90%;
  margin: auto;
}
 
.main-menu {
	list-style: none;
	float: right;
	margin: 0;
	li {
		float: left;
		position: relative;
	}
	a {
		display: block;
		text-decoration: none;
		color: lighten($primary, 60%);
		font-size: 15px; 
		padding: 20px 30px;
	}
	ul {
		position: absolute;
		z-index: 99999;
		list-style-type: none;
		margin: 0;
		display: none;
		@include shadow( 1px, 1px, 5px, lighten($primary, 20%) );
		background: lighten($primary, 30%);
	}
	ul li {
		min-width: 175px;
	}
	ul li a, ul ul li a {
		padding: 10px;
		font-size: 12px;
		font-weight: normal;
	}
	ul ul {
		left: 100%;
		top: 0;
	}
	li:hover > ul {
		display: none;
	}
}

.current-menu-item {
	ul li a {
	  color: lighten($primary, 60%);
	  background: lighten($primary, 30%);
  }
  a {
    background: $accent-1;
    color: lighten($primary, 100%);
  }
}

.sub-menu {
	padding: 0;
	margin: 0;
	li:hover > ul { 
		display: none; /* prevents a second sub-menu from showing */
	}
}

/*	-Footer
------------------*/
#footer-menu {
	border-bottom: 1px solid lighten($primary, 30%);
	width: 100%;
}

#menu-footer {
	margin: 0 0 0 -10px;
	li {
		list-style: none;
		float: left;
		padding: 0 10px;
		margin: 5px 0 10px 0;
		border-right: 1px solid lighten($primary, 30%);
	}
	li:last-child {
		border: none;
	}
	li a {
		text-decoration: none;
		font-size: 11px;
	}
	li a:hover {
		text-decoration: underline;
	}
	ul {
		display: none; /* hides sub-menus */
	}
	.current-menu-item a {
		background-color: transparent;
		border: none;
	}
}

/* --------------------------------------
	=WIDGET AREAS
---------------------------------------*/

/*	-Global
------------------*/
.widget {
	width: 100%;
	padding: 20px;
	ul {
		margin: 0;
	}
	ul li {
		line-height: 16px;
		font-size: 14px;
		padding: 12px 0;
		border-bottom: 1px dashed #8a8a8a;
		list-style: none;
	}
	ul li:last-child {
		border: 0;
	}
	input {
		clear: both;
	}
}

.widget-title {
	color: lighten($primary, 20%);
}

/*	-Footer
------------------*/
#footer-sidebar-container {
	width: 90%;
	margin: 0 0 -2px 0;
	clear: both;
	position: relative;
	padding: 0 5% 10px 5%;
	font-size: 11px;
	color: lighten($primary, 60%);
	background: lighten($primary, 30%);
	@include shadow(1px, -1px, 5px, lighten($primary, 20%));
}

.footer-widget {
	width: 30%;
	float: left;
	margin: 10px 1.5%;
	h2 {
	  font-size: 18px;
	  margin: 15px 0;
	}
	ul {
		margin: 0;
	}
	p {
		font-size: 12px;
		line-height: 18px;
	}
	img {
		width: 100px;
		float: left;
		margin: 0 10px 0 0;
		padding: 8px;
		border: 5px solid lighten($primary, 40%);
		clear: both;
	}
	.info-tile-img {
	  background: lighten($primary, 80%);
	}
	ul li {
		line-height: 16px;
		font-size: 12px;
		padding: 12px 0;
		border-bottom: 1px dashed lighten($primary, 40%);
		list-style: none;
	}
	a {
		color: lighten($primary, 50%);
		text-shadow: 1px 1px $primary;
	}
	ul li:last-child {
		border: none;
	}
}

/* ---------------------------------------
	=FOOTER
---------------------------------------*/
#footer {
	width: 90%;
	margin: -8px 0 0 0;
	clear: both;
	position: relative;	
	float: left;
	padding: 15px 5%;
	line-height: 20px;
	@include shadow(0, 3px, 5px, lighten($primary, 10%) );
	z-index: 10;
	color: lighten($primary, 40%);
	background: lighten($primary, 20%);
	font-size: 11px;
	a {
		color: lighten($primary, 55%);
		text-shadow: 1px 1px $primary;
	}
}

#site-info {
	padding: 10px 0;
}

#copyright {
	float: left;
}

#theme-designer {
	float: right;
}

/* ---------------------------------------
	=RESPONSIVE DESIGN
---------------------------------------*/
@media screen and (max-width : 768px) {
	
	#social-icons {
		margin: 20px auto;
		text-align: center;
		float: none;
	}
	
	#logo {
		margin: 20px auto;
		box-shadow: none;
		left: 0;
		text-align: center;
		clear: both;
		position: relative;
		background: none;
	}
	
	#container {
	  margin: 20px auto;
	}
	
	#main-menu-small-container {
		display: block;
	}
	
	#main-menu {
		display: none;
	}
	
	.front-widget {
		width: 100%;
	}
	
	.footer-widget {
		width: 100%;
	}
}