/* _widgets.scss */

/* --------------------------------------
	=FRONT
---------------------------------------*/
#front-widget-container {
	clear: both;
	width: 90%;
	margin: auto;
}

.front-widget {
	width: 30%;
	float: left;
	margin: 20px 1.5%;
}

.front-widget ul {
	margin: 0;
}

.front-widget p {
	font-size: 14px;
	line-height: 16px;
}

.front-widget img {
	width: 100px;
	float: left;
	margin: 0 10px 0 0;
	padding: 8px;
	border: 5px solid #fff;
	box-shadow: 1px 1px 5px #ccc;
	clear: both;
}

.front-widget ul li {
	line-height: 16px;
	font-size: 14px;
	padding: 12px 0;
	border-bottom: 1px dashed #ccc;
	list-style: none;
}

.front-widget ul li:last-child {
	border: none;
}

/* --------------------------------------
	=SOCIAL
---------------------------------------*/
.social-link {
	height: 32px;
	display: block;
	font-size: 14px;
	margin: 20px 0 0 0;
}

.social-link img {
	width: 32px;
	border: 0;
	padding: 0;
}

.social-widget-text {
	float: left;
	margin: 8px 0 0 0;
}

.social-link:hover > span {
	text-decoration: underline;
}

/* --------------------------------------
	=TWITTER FEED
---------------------------------------*/
#twitter_update_list {
	line-height: 21px;
	list-style: none;
	li {
		padding-bottom: 7px;
		margin-bottom: 9px;
	}
	a {
		color: lighten($primary, 50%);
	}
	span {
		color: lighten($primary, 60%);
		text-decoration: none;
		a {
			color: lighten($primary, 50%);
		}
	}
}

#twitter-feed-title a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

#twitter-feed-icon {
	border: none;
	box-shadow: none;
	width: 24px;
	padding: 10px 10px 10px 0;
	margin: 0;		
}

p.tweet-time {
	margin: 5px 0;
	padding: 0;
	font-size: 10px;
}